<form action="/new" method="post">
  <label for="query">Search:</label>
  <input type="text" id="query" name="first_name" placeholder="First name">
  <input type="text" id="query" name="last_name" placeholder="Last name">
  <input type="text" id="query" name="phone_number" placeholder="Phone number">
  <input type="submit">
</form>
